<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jannick.lipastreaming">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.launch.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/action_sign_in_short"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AlarmActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_alarm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DeviceActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_device"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.StreamActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_stream"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SchedulerActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_scheduler"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.launch.SplashscreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.edit.AlarmEditActivity"
            android:label="@string/title_activity_alarm_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.edit.DeviceEditActivity"
            android:label="@string/title_activity_device_edit"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true"
            />
        <activity android:name=".activities.edit.StreamEditActivity"></activity>
    </application>

</manifest>
